@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>BusHashCode: @ViewBag.BusState</p>
<p>SessionHashCode: @ViewBag.SessionState</p>
<p>DataFromDB: @ViewBag.DataFromDB</p>
<p>SessionFactoryHashCode: @ViewBag.SessionFactoryState</p>
<p>UserReposiotrySessionHasCode: @ViewBag.UserReposiotrySessionHasCode</p>

